/* Variáveis do Tema Claro. */
:root {
    --font-color              : #000000;
    --background-color        : #F3F3F3;
    --navbar-color            : #386BBE;
    --navbar-font-color       : #FFFFFF;
    --footer-color            : #273238;
    --footer-font-color       : #FFFFFF;
    --section-background-color: #E6EBEE;

    /*
    A Fonte é importada dentro do arquivo layout.js.
    Ela é usada dessa forma no CSS:
    font-family: var(--font-nunito);
    */
}

/* Garante que o Tamanho de Todos os Elementos HTML seja Consistente.*/
* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
}

body {
    color     : var(--font-color);
    background: var(--background-color);
}

/* Variáveis do Tema Escuro. */
@media (prefers-color-scheme: dark) {
    :root {
        --font-color              : #FFFFFF;
        --background-color        : #222222;
        --navbar-color            : #172B4D;
        --navbar-font-color       : #FFFFFF;
        --footer-color            : #0C0C0C;
        --footer-font-color       : #FFFFFF;
        --section-background-color: #333333;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}