/* Navbar */
.Navbar {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 8px;
    gap            : 10px;

    height: 56px;

    background: var(--navbar-color);
}

/* LogoContainer */
.LogoContainer {
    display    : flex;
    align-items: center;
    padding    : 0px 8px;
    gap        : 8px;
    width      : 151px;
    height     : 40px;
}

/* TextLogo */
.TextLogo {
    width : 87px;
    height: 30px;

    font-family: var(--font-nunito);
    font-weight: 600;
    font-size  : 22px;
    line-height: 30px;

    display    : flex;
    align-items: center;

    /* Navbar Font */
    color: var(--navbar-font-color);
}

/* Logo */
.Logo {
    width : 40px;
    height: 40px;
}

/* LinkContainer */
.LinkContainer {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 8px;
    gap            : 16px;
}


/* Página Inicial */
.LinkAtivo {
    font-family         : var(--font-nunito);
    font-style          : normal;
    font-weight         : 700;
    font-size           : 20px;
    line-height         : 27px;
    display             : flex;
    align-items         : center;
    text-decoration-line: underline;

    color: var(--navbar-font-color);
}

.Link {
    font-family         : var(--font-nunito);
    font-weight         : 400;
    font-size           : 20px;
    line-height         : 27px;
    display             : flex;
    align-items         : center;
    text-decoration-line: none;

    color: var(--navbar-font-color);
}

.HamburgerContainer {
    display    : none;
    align-items: center;
    padding    : 8px;
}

.HamburgerIcon {
    font-family: var(--material-icons);
    font-size  : 27px;
}

@media (max-width: 820px) {
    .Navbar {
        height: auto;
    }

    .LinkContainer {
        display: none;
    }

    .HamburgerContainer {
        display: flex;
    }
}