.Navbar {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding        : 8px;
    gap            : 10px;
    height         : 56px;
    background     : var(--navbar-color);
}

.LogoContainer {
    display        : flex;
    align-items    : center;
    padding        : 0px 8px;
    gap            : 8px;
    width          : 151px;
    height         : 40px;
    text-decoration: none;
}

.TextLogo {
    width      : 87px;
    height     : 30px;
    font-family: var(--font-nunito);
    font-weight: 600;
    font-size  : 22px;
    line-height: 30px;
    display    : flex;
    align-items: center;
    color      : var(--navbar-font-color);
}

.Logo {
    width : 40px;
    height: 40px;
}

.LinkContainer {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    padding        : 8px;
    gap            : 16px;
}

.LinkAtivo {
    font-family         : var(--font-nunito);
    font-style          : normal;
    font-weight         : 700;
    font-size           : 20px;
    line-height         : 27px;
    display             : flex;
    align-items         : center;
    text-decoration-line: underline;
    color               : var(--navbar-font-color);
}

.Link {
    font-family         : var(--font-nunito);
    font-weight         : 400;
    font-size           : 20px;
    line-height         : 27px;
    display             : flex;
    align-items         : center;
    text-decoration-line: none;
    color               : var(--navbar-font-color);
}

.HamburgerButton {
    display         : none;
    align-items     : center;
    justify-content : center;
    width           : 40px;
    height          : 40px;
    background-color: var(--navbar-color);
    border          : none;
    border-radius   : 2px;
}

.HamburgerIcon {
    font-family: var(--material-icons);
    font-size  : 28px;
}

@media (max-width: 820px) {
    .Navbar {
        height        : auto;
        flex-direction: column;
    }

    .Responsive {
        display        : flex;
        width          : 100%;
        justify-content: space-between;
    }

    .LinkContainer {
        flex-direction: column;
    }

    .HamburgerButton {
        display: flex;
    }
}