.Footer {
    display        : flex;
    padding        : 32px;
    justify-content: center;
    align-items    : flex-start;
    background     : var(--footer-color);
}

/* Container */
.Container {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : flex-start;
    padding        : 0px;
    gap            : 128px;
    width          : 1280px;
}

/* Contato */
.Contato {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    padding       : 8px 16px;
    gap           : 8px;
}

/* Contato e Endereço: */
.ContactTitle {
    font-family: var(--font-nunito);
    font-style : normal;
    font-weight: 700;
    font-size  : 20px;
    color      : var(--footer-font-color);
}

/* Email */
.TextContainer {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    padding       : 0px;
    gap           : 8px;
    color         : var(--footer-font-color);
}

.ContactIcon {
    font-family: var(--material-icons);
    font-style : normal;
    font-weight: 400;
    font-size  : 20px;
    line-height: 20px;
    color      : var(--footer-font-color);
}

.MediaIcon {
    width : 20px;
    height: 20px;
}

.ContactText {
    font-family: var(--font-nunito);
    font-style : normal;
    font-weight: 400;
    font-size  : 20px;
    color      : var(--footer-font-color);
}

.MediaContainer {
    display       : flex;
    flex-direction: row;
    align-items   : flex-start;
    padding       : 0px;
    gap           : 128px;
}

/* Mobile */
@media (max-width: 768px) {
    .Footer {
        padding: 16px;
    }

    .Container {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        gap            : 16px;
        width          : 100%;
    }

    .MediaContainer {
        gap: 16px;
    }

    .ContactIcon {
        font-size  : 18px;
        line-height: 18px;
    }

    .MediaIcon {
        width : 18px;
        height: 18px;
    }

    .ContactText {
        font-size: 18px;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1120px) {
    .Footer {
        padding: 16px;
    }

    .Container {
        width: 720px;
        gap  : 32px;
    }

    .MediaContainer {
        gap: 32px;
    }

    .ContactIcon {
        font-size  : 18px;
        line-height: 18px;
    }

    .MediaIcon {
        width : 18px;
        height: 18px;
    }

    .ContactText {
        font-size: 18px;
    }
}

/* Desktop */
@media (min-width: 1121px) and (max-width: 1440px) {
    .Container {
        width: 1024px;
    }
}